.description h1,
p {
  padding: 16px 0;
}





.description button {
  background-color: #fff4b9;
  color: #231f24;
  border-radius: 16px;
  border: #d9c5e0 4px solid;
  font-size: 18px;
  width: 85%;
  margin-top: 30px;
  margin-left: -2px;
  height: 45px;
  text-align: center;
}

.description {
  transition: transform 0.5s;
  transform: translateX(0px);
  width: 30%;
}
.hiddenDescription {
  position: absolute;
  left: 0;
  top: 0;
  transition: transform 0.5s;
  transform: translateX(calc(-100% - 32px));
}
