.color-block {
    flex-shrink: 0;
    margin: 4px;
    height: 90px;
    width: 90px;
    border: 1px solid;
    border-radius: 10px;
    background-color:#3E373F;
  }
  
.full-pyramid .color-block {
  height: 80px;
  width: 80px;
}