body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000000 url(background.jpg) no-repeat;
  background-position: -105px 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  background-position: left;
  display: grid;
  margin-bottom: 5%;
  grid-template-columns: 46% 54%;

}


<<<<<<< HEAD
=======
.description h1,
p {
  padding: 16px 0;
  color: #E9E2CE;
}

.description h1 {
  font-size: 36px;

}

p {
  width: 50%;

}

.description button {
  background-color: #bca6bf;
  color: #440c67;
  border-radius: 16px;
  font-size: 18px;
  width: 20%;
  height: 45px;
  text-align: center;
}

.pyramid {
  margin-right: 3%;
  padding-right: 5%;
  padding-top: 2%;
  padding-left: 15%;
  grid-area: "pyramid";
}

.description {
  grid-area: "description";
  padding: 3% 0% 8% 20%;
}

.row {
  display: flex;
  justify-content: center;
}

.row:not(:first-child) {
  margin-top: -1px;
}

.color-block {
  flex-shrink: 0;
  margin: 0;
  height: 90px;
  width: 90px;
  border: 1px solid white;
}
>>>>>>> f82527cbeeab330be422298bd6979cd81aba1cb9

.color-block:not(:last-child) {
  margin-right: -1px;
}

